*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  text-align: center;
  font-family: var(--font-porlane);
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f1f1f1;
}

@media screen and (max-width: 490px) {
  .loader {
    font-size: 1rem;
    text-align: center;
    font-family: var(--font-aspekta800);
  }
}
