@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  margin-top: 1rem;
  color: var(--foreground);
  background: #f4e6d7;
  font-family: var(--font-aspekta500);
}

.hero-mask-1,
.hero-mask-2,
.hero-mask-3,
.hero-mask-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-text {
  font-family: var(--font-aspekta800);
  font-size: 27vw;
  position: relative;
  margin-top: -25%;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  bottom: -1.2svh;
  z-index: 10;
}

.hero-sub-text {
  position: relative;
  margin-top: 10%;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  text-transform: uppercase;
  font-family: var(--font-aspekta800);
  font-size: 4svw;
  line-height: 1;
  letter-spacing: 2px;
}

.header-main {
  font-family: var(--font-aspekta800);
  z-index: 10;
}
.hero-image-inner {
  position: relative;
  overflow: hidden;
  height: 550px;
  width: 100%;
  z-index: 49;
  margin-top: 8rem;
}

.next-section {
  background-color: #fe1034;
  /* height: 100vh; */
}

.circle-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  max-height: 75vh;
  max-width: 75vw;
}

.circle-text span {
  position: absolute;
  left: 50%;
  top: 0;
  transform-origin: 0 150px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: var(--font-aspekta800);
}

.inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #fe1034;
  border-radius: 50%;
}

.part-three {
  height: 100vh;
}

.title {
  font-family: var(--font-aspekta800);
  font-size: 6.5svw;
  line-height: 80px;
}
@media screen and (min-width: 700px) {
  .hero-image-inner {
    width: 687px;
    height: 491px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 460px) {
  .hero-text {
    margin-top: 5%;
  }
  .t-mobile {
    font-family: var(--font-aspekta800);
    font-size: 2.5rem;
    line-height: 35px;
  }

  .hero-sub-text {
    font-size: 6.5svw;
    line-height: 1;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 4rem;
  }
}

* {
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Kanit", sans-serif;
}

.circle {
  position: fixed;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: green;
  top: 50%;
}

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animationWrapper {
  border: 1px red solid;
  display: flex;
  align-items: center;
}

.logo img {
  width: 150px;
}

.words {
  display: grid;
  width: 400px;
  margin-left: 20px;
  border: 1px red solid;
}

.words > * {
  grid-area: 1 / 1;
}

.rotator {
  background: red;
  display: flex;
  align-items: center;
}
